/* ----------- Shared Styling ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 16px;
}

.display-flex {
    display: flex;
}

.white {
    color: rgba(255, 255, 255, .6);
}

.solid-white {
    color:  rgba(255, 255, 255, 1);
}

.gradient {
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #FB09B4);
}

.btn-primary {
    padding: .7rem 1rem;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
}

/* ----------- Specific Styling ----------- */

/* Navbar */
nav {
    padding: 30px 20px;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.nav-logo {
    cursor: pointer;
}

.logo-2ndpart {
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #FB09B4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 800;
    filter: drop-shadow(1px 1px 0 #000) drop-shadow(-1px -1px 0 #000) drop-shadow(1px -1px 0 #000) drop-shadow(-1px 1px 0 #000);
}

.logo-1stpart {
    font-size: 2.5rem;
    font-weight: 800;
    color: #ffffff;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}

.nav-menu {
    max-width: 218px;
    list-style: none;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, .6);
    font-size: 1rem;
    font-weight: 500;
}

/* banner */
#banner {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 760px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn-sub {
    color: #00ff88;
    background-color: transparent;
    border: 1px solid #00ff88;
    margin-left: .5rem;
    padding: .68rem 1rem;
}

.pod-description h2 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: .5rem;
    margin-top: 2.5rem;
}

.pod-description p {
    margin-bottom: 24px;
}

.banner-container {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.pod-mick {
    position: relative;
    max-width: 350px;
    max-height: 350px;
    margin: 0 auto;
}

.mick-bg {
    max-width: 350px;
    max-height: 350px;
    display: block;
}

.mick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115px;
}

.badge {
    background-color: #00ff88;
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    padding: .5rem 1rem;
    border: none;
    border-radius: 1000px;
    position: absolute;
    top: 20%;
    left: 92%;
    transform: translate(-50%, -50%);
}

/* About Podcast */
#about-pod {
    background-color: #1A0B2E;
    padding-bottom: 120px;
    padding-top: 50px;
}

.about-container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.about-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

hr {
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin: 40px 0;
    margin-top: 80px;
    margin-bottom: 80px;
}

.txt {
    color: rgba(255, 255, 255, .6);
    line-height: 16px;
    font-size: 1rem;
}

.num {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.num-card {
    text-align: center;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about-des-1,
.about-des-2 {
    font-size: 1rem;
    line-height: 20px;
}

.about-des-1 {
    margin-bottom: 2rem;
}

/* Meet the host */
#meet-host {
    background-color: #1A0B2E;
    padding-top: 120px;
    padding-bottom: 120px;
}
.host-container {
    max-width: 1200px;
    margin: 0 auto;
}
.host-heading {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.host-name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.host-des {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 1rem;
}
.host-card {
    background-color:rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}
.host-socials {
    gap: 8px;
}

.img-box {
   height: 40px;
   width: 40px;
   border: 1px solid #533C72;
   border-radius: 1000px;
   background-color: transparent;
   text-align: center;
}

.img-box img {
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.host-card {
    gap: 24px;
}

/* Footer */
footer {
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-logo p {
    font-size: 5.8rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.flogo-2ndpart {
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #FB09B4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-container {
    text-align: center;
    padding: 120px;
}

.platforms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 800px;
    justify-items: center;
}

.spotify,
.apple,
.twitter,
.youtube {
    gap: 8px;
    align-items: center;
}

.platforms p {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.platforms img {
    width: 24px;
    height: 24px;
}

.copy-right {
    font-size: 1rem;
    line-height: 24px;
    margin-top: 2rem;
}

/* ------------- Responsive Styling -------------*/
/* Navbar */
@media screen and (max-width: 576px) {

    .nav-menu,
    .nav-button {
        display: none;
    }

    .burger {
        display: contents;
        cursor: pointer;
    }

    nav {
        padding: 20px;
    }
}

/* Banner */
@media screen and (max-width: 576px) {
    #banner {
        padding: 2.5rem 1.25rem;
    }

    .pod-mick,
    .mick-bg {
        max-width: 200px;
        max-height: 200px;
    }

    .mick {
        max-width: 3rem;
    }

    .pod-description h2 {
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: .5rem;
        margin-top: 1.5rem;
    }
}

/* About */
@media screen and (max-width: 567px) {
    .numbers {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    #about-pod {
        padding: 40px 20px;
    }

    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .about-heading {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .about-des-1 br {
        display: none;
    }

    .num {
        font-size: 40px;
    }
    .txt {
        font-size: .8rem;
    }
}

/* Meet the host */
@media screen and (max-width: 576px) {
    .host-card {
        flex-direction: column;
        text-align: center;
    }

    #meet-host {
        padding: 35px 20px;
    }
    .host-heading {
        font-size: 2rem;
    }
    .host-name {
        font-size: 1.5rem;
    }
    .host-socials {
       justify-content: center;
    }
}

/* footer */
@media screen and (max-width: 576px) {

    /* footer {
        height: 300px;
    } */
    .footer-container {
        padding: 40px 20px;
    }

    .footer-logo p {
        font-size: 3rem;
    }

    .platforms {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 1rem;

    }

    .about-des br {
        display: none;
    }
}