/* ----------- Shared Styling ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    font-size: 16px;
}

.display-flex {
    display: flex;
}

.white {
    color: #ffffff;
}

.gradient {
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #FB09B4);
}

.btn-primary {
    padding: .7rem 1rem;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
}

/* ----------- Specific Styling ----------- */

/* Navbar */
nav {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.nav-logo {
    cursor: pointer;
}
#logo-1stpart {
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #FB09B4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 800;
    filter: drop-shadow(1px 1px 0 #000) drop-shadow(-1px -1px 0 #000) drop-shadow(1px -1px 0 #000) drop-shadow(-1px 1px 0 #000);
}

#logo-2ndpart {
    font-size: 2.5rem;
    font-weight: 800;
    color: #ffffff;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}

.nav-menu {
    max-width: 218px;
    list-style: none;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}


/* ------------- Responsive Styling -------------*/
/* Navbar */
@media screen and (max-width: 576px) {

    .nav-menu,
    .nav-button {
        display: none;
    }

    .burger {
        display: contents;
        cursor: pointer;
    }
    nav {
        padding: 20px;
    }
}